
.Rhistory
.RData
stats_consult/stats_consult.tex
stats_consult/stats_consult.synctex.gz
stats_consult/stats_consult.pdf
stats_consult/stats_consult.out
stats_consult/stats_consult.log
stats_consult/stats_consult.aux
